.airline-icon {
    width: 24px;
    height: 24px;
    background-image: url('{githubRepo}/randomJobs/airlines.png');
}
.icao-DKH { background-position: -3px -3px; }
.icao-UAL { background-position: -33px -3px; }
.icao-RKA { background-position: -3px -33px; }
.icao-NOV { background-position: -33px -33px; }
.icao-AIZ { background-position: -63px -3px; }
.icao-BGL { background-position: -63px -33px; }
.icao-ACK { background-position: -3px -63px; }
.icao-BRU { background-position: -33px -63px; }
.icao-SNG { background-position: -63px -63px; }
.icao-MDG { background-position: -93px -3px; }
.icao-HAL { background-position: -93px -33px; }
.icao-SCX { background-position: -93px -63px; }
.icao-SNC { background-position: -3px -93px; }
.icao-SXS { background-position: -33px -93px; }
.icao-GLO { background-position: -63px -93px; }
.icao-EIN { background-position: -93px -93px; }
.icao-TBZ { background-position: -123px -3px; }
.icao-CAY { background-position: -123px -33px; }
.icao-CVA { background-position: -123px -63px; }
.icao-ASA { background-position: -123px -93px; }
.icao-CAL { background-position: -3px -123px; }
.icao-AZU { background-position: -33px -123px; }
.icao-RNA { background-position: -63px -123px; }
.icao-NIA { background-position: -93px -123px; }
.icao-THA { background-position: -123px -123px; }
.icao-PAC { background-position: -153px -3px; }
.icao-LAA { background-position: -153px -33px; }
.icao-MNG { background-position: -153px -63px; }
.icao-BML { background-position: -153px -93px; }
.icao-DTR { background-position: -153px -123px; }
.icao-SWA { background-position: -3px -153px; }
.icao-EDW { background-position: -33px -153px; }
.icao-FJI { background-position: -63px -153px; }
.icao-NVR { background-position: -93px -153px; }
.icao-BLS { background-position: -123px -153px; }
.icao-IRC { background-position: -153px -153px; }
.icao-WZZ { background-position: -183px -3px; }
.icao-OMA { background-position: -183px -33px; }
.icao-REU { background-position: -183px -63px; }
.icao-KAL { background-position: -183px -93px; }
.icao-ANG { background-position: -183px -123px; }
.icao-KQA { background-position: -183px -153px; }
.icao-RWD { background-position: -3px -183px; }
.icao-TSC { background-position: -33px -183px; }
.icao-SVR { background-position: -63px -183px; }
.icao-DAO { background-position: -93px -183px; }
.icao-CLX { background-position: -123px -183px; }
.icao-CGN { background-position: -153px -183px; }
.icao-PSD { background-position: -183px -183px; }
.icao-UPS { background-position: -213px -3px; }
.icao-CPN { background-position: -213px -33px; }
.icao-CHH { background-position: -213px -63px; }
.icao-UBA { background-position: -213px -93px; }
.icao-SBI { background-position: -213px -123px; }
.icao-ACI { background-position: -213px -153px; }
.icao-AHY { background-position: -213px -183px; }
.icao-LOT { background-position: -3px -213px; }
.icao-CIM { background-position: -33px -213px; }
.icao-TVF { background-position: -63px -213px; }
.icao-TRA { background-position: -93px -213px; }
.icao-GOW { background-position: -123px -213px; }
.icao-SFR { background-position: -153px -213px; }
.icao-UCA { background-position: -183px -213px; }
.icao-QTR { background-position: -213px -213px; }
.icao-RYR { background-position: -243px -3px; }
.icao-JZA { background-position: -243px -33px; }
.icao-ACA { background-position: -243px -63px; }
.icao-MXD { background-position: -243px -93px; }
.icao-VTI { background-position: -243px -123px; }
.icao-CSC { background-position: -243px -153px; }
.icao-HVN { background-position: -243px -183px; }
.icao-UZB { background-position: -243px -213px; }
.icao-FWI { background-position: -3px -243px; }
.icao-COA { background-position: -33px -243px; }
.icao-DRU { background-position: -63px -243px; }
.icao-CDG { background-position: -93px -243px; }
.icao-OAL { background-position: -123px -243px; }
.icao-SEH { background-position: -153px -243px; }
.icao-VDA { background-position: -183px -243px; }
.icao-UTA { background-position: -213px -243px; }
.icao-JOY { background-position: -243px -243px; }
.icao-ETD { background-position: -273px -3px; }
.icao-SEJ { background-position: -273px -33px; }
.icao-VSV { background-position: -273px -63px; }
.icao-NWL { background-position: -273px -93px; }
.icao-RJA { background-position: -273px -123px; }
.icao-UBD { background-position: -273px -153px; }
.icao-AEA { background-position: -273px -183px; }
.icao-RAR { background-position: -273px -213px; }
.icao-CSZ { background-position: -273px -243px; }
.icao-DRK { background-position: -3px -273px; }
.icao-AUI { background-position: -33px -273px; }
.icao-GRG { background-position: -63px -273px; }
.icao-LAM { background-position: -93px -273px; }
.icao-VCV { background-position: -123px -273px; }
.icao-EVA { background-position: -153px -273px; }
.icao-XAU { background-position: -183px -273px; }
.icao-ICL { background-position: -213px -273px; }
.icao-MSR { background-position: -243px -273px; }
.icao-ACL { background-position: -273px -273px; }
.icao-DAH { background-position: -303px -3px; }
.icao-IZM { background-position: -303px -33px; }
.icao-LGL { background-position: -303px -63px; }
.icao-PIA { background-position: -303px -93px; }
.icao-HYM { background-position: -303px -123px; }
.icao-WJA { background-position: -303px -153px; }
.icao-CMP { background-position: -303px -183px; }
.icao-HKE { background-position: -303px -213px; }
.icao-CHP { background-position: -303px -243px; }
.icao-AEE { background-position: -303px -273px; }
.icao-BBD { background-position: -3px -303px; }
.icao-PIC { background-position: -33px -303px; }
.icao-ADH { background-position: -63px -303px; }
.icao-CKK { background-position: -93px -303px; }
.icao-MRS { background-position: -123px -303px; }
.icao-RBA { background-position: -153px -303px; }
.icao-SHA { background-position: -183px -303px; }
.icao-CCA { background-position: -213px -303px; }
.icao-NMB { background-position: -243px -303px; }
.icao-THY { background-position: -273px -303px; }
.icao-AJM { background-position: -303px -303px; }
.icao-SNJ { background-position: -333px -3px; }
.icao-JAL { background-position: -333px -33px; }
.icao-ATC { background-position: -333px -63px; }
.icao-SYL { background-position: -333px -93px; }
.icao-RPB { background-position: -333px -123px; }
.icao-SET { background-position: -333px -153px; }
.icao-AWC { background-position: -333px -183px; }
.icao-FFM { background-position: -333px -213px; }
.icao-MDA { background-position: -333px -243px; }
.icao-CLH { background-position: -333px -273px; }
.icao-JNA { background-position: -333px -303px; }
.icao-AMC { background-position: -3px -333px; }
.icao-HHN { background-position: -33px -333px; }
.icao-SDR { background-position: -63px -333px; }
.icao-CAP { background-position: -93px -333px; }
.icao-JAT { background-position: -123px -333px; }
.icao-BOT { background-position: -153px -333px; }
.icao-CES { background-position: -183px -333px; }
.icao-KZR { background-position: -213px -333px; }
.icao-VIR { background-position: -243px -333px; }
.icao-MPE { background-position: -273px -333px; }
.icao-BHS { background-position: -303px -333px; }
.icao-SWN { background-position: -333px -333px; }
.icao-ETH { background-position: -363px -3px; }
.icao-IRA { background-position: -363px -33px; }
.icao-CUB { background-position: -363px -63px; }
.icao-DTA { background-position: -363px -93px; }
.icao-MEA { background-position: -363px -123px; }
.icao-ARE { background-position: -363px -153px; }
.icao-LNE { background-position: -363px -183px; }
.icao-TAM { background-position: -363px -213px; }
.icao-LPE { background-position: -363px -243px; }
.icao-AJT { background-position: -363px -273px; }
.icao-EWG { background-position: -363px -303px; }
.icao-CYZ { background-position: -363px -333px; }
.icao-CSA { background-position: -3px -363px; }
.icao-DLH { background-position: -33px -363px; }
.icao-GEC { background-position: -63px -363px; }
.icao-KIS { background-position: -93px -363px; }
.icao-ROT { background-position: -123px -363px; }
.icao-JJA { background-position: -153px -363px; }
.icao-GZP { background-position: -183px -363px; }
.icao-LAN { background-position: -213px -363px; }
.icao-TOS { background-position: -243px -363px; }
.icao-RZO { background-position: -273px -363px; }
.icao-CRK { background-position: -303px -363px; }
.icao-CXM { background-position: -333px -363px; }
.icao-PDT { background-position: -363px -363px; }
.icao-AAL { background-position: -393px -3px; }
.icao-AXB { background-position: -393px -33px; }
.icao-BDA { background-position: -393px -63px; }
.icao-SKY { background-position: -393px -93px; }
.icao-SAA { background-position: -393px -123px; }
.icao-RON { background-position: -393px -153px; }
.icao-QCL { background-position: -393px -183px; }
.icao-AXL { background-position: -393px -213px; }
.icao-LZB { background-position: -393px -243px; }
.icao-OAW { background-position: -393px -273px; }
.icao-AEG { background-position: -393px -303px; }
.icao-DAL { background-position: -393px -333px; }
.icao-XAX { background-position: -393px -363px; }
.icao-AIQ { background-position: -3px -393px; }
.icao-AWQ { background-position: -33px -393px; }
.icao-AXM { background-position: -63px -393px; }
.icao-FTA { background-position: -93px -393px; }
.icao-OMS { background-position: -123px -393px; }
.icao-BWA { background-position: -153px -393px; }
.icao-NIG { background-position: -183px -393px; }
.icao-REA { background-position: -213px -393px; }
.icao-TGW { background-position: -243px -393px; }
.icao-SIA { background-position: -273px -393px; }
.icao-GTI { background-position: -303px -393px; }
.icao-MPH { background-position: -333px -393px; }
.icao-ANZ { background-position: -363px -393px; }
.icao-CAV { background-position: -393px -393px; }
.icao-LLM { background-position: -423px -3px; }
.icao-TUA { background-position: -423px -33px; }
.icao-VLG { background-position: -423px -63px; }
.icao-VOZ { background-position: -423px -93px; }
.icao-ASH { background-position: -423px -123px; }
.icao-CXI { background-position: -423px -153px; }
.icao-ERT { background-position: -423px -183px; }
.icao-TAP { background-position: -423px -213px; }
.icao-AUL { background-position: -423px -243px; }
.icao-WAL { background-position: -423px -273px; }
.icao-SYR { background-position: -423px -303px; }
.icao-EXS { background-position: -423px -333px; }
.icao-SSV { background-position: -423px -363px; }
.icao-IRM { background-position: -423px -393px; }
.icao-ANO { background-position: -3px -423px; }
.icao-CUA { background-position: -33px -423px; }
.icao-GUY { background-position: -63px -423px; }
.icao-TGZ { background-position: -93px -423px; }
.icao-ESR { background-position: -123px -423px; }
.icao-IBX { background-position: -153px -423px; }
.icao-AIP { background-position: -183px -423px; }
.icao-SLI { background-position: -213px -423px; }
.icao-AMX { background-position: -243px -423px; }
.icao-SVA { background-position: -273px -423px; }
.icao-TAO { background-position: -303px -423px; }
.icao-MAV { background-position: -333px -423px; }
.icao-GRL { background-position: -363px -423px; }
.icao-LNI { background-position: -393px -423px; }
.icao-CTN { background-position: -423px -423px; }
.icao-IBS { background-position: -453px -3px; }
.icao-ANE { background-position: -453px -33px; }
.icao-MMD { background-position: -453px -63px; }
.icao-CSN { background-position: -453px -93px; }
.icao-DTH { background-position: -453px -123px; }
.icao-ANK { background-position: -453px -153px; }
.icao-IBE { background-position: -453px -183px; }
.icao-KAP { background-position: -453px -213px; }
.icao-LBT { background-position: -453px -243px; }
.icao-GAP { background-position: -453px -273px; }
.icao-AAR { background-position: -453px -303px; }
.icao-PGT { background-position: -453px -333px; }
.icao-MAS { background-position: -453px -363px; }
.icao-KLC { background-position: -453px -393px; }
.icao-AMU { background-position: -453px -423px; }
.icao-AEW { background-position: -3px -453px; }
.icao-VOI { background-position: -33px -453px; }
.icao-BBC { background-position: -63px -453px; }
.icao-NSE { background-position: -93px -453px; }
.icao-UAE { background-position: -123px -453px; }
.icao-VAU { background-position: -153px -453px; }
.icao-ACP { background-position: -183px -453px; }
.icao-CYP { background-position: -213px -453px; }
.icao-GGN { background-position: -243px -453px; }
.icao-PRF { background-position: -273px -453px; }
.icao-AKL { background-position: -303px -453px; }
.icao-SKX { background-position: -333px -453px; }
.icao-AMW { background-position: -363px -453px; }
.icao-CEB { background-position: -393px -453px; }
.icao-QFA { background-position: -423px -453px; }
.icao-KLM { background-position: -453px -453px; }
.icao-JKK { background-position: -483px -3px; }
.icao-AAW { background-position: -483px -33px; }
.icao-ALK { background-position: -483px -63px; }
.icao-SWG { background-position: -483px -93px; }
.icao-ICE { background-position: -483px -123px; }
.icao-SDM { background-position: -483px -153px; }
.icao-DLA { background-position: -483px -183px; }
.icao-MNB { background-position: -483px -213px; }
.icao-AIC { background-position: -483px -243px; }
.icao-PVV { background-position: -483px -273px; }
.icao-ABD { background-position: -483px -303px; }
.icao-WAK { background-position: -483px -333px; }
.icao-SBK { background-position: -483px -363px; }
.icao-CRL { background-position: -483px -393px; }
.icao-CSH { background-position: -483px -423px; }
.icao-AAY { background-position: -483px -453px; }
.icao-ABX { background-position: -3px -483px; }
.icao-TUI { background-position: -33px -483px; }
.icao-TFL { background-position: -63px -483px; }
.icao-JAF { background-position: -93px -483px; }
.icao-TWB { background-position: -123px -483px; }
.icao-AKX { background-position: -153px -483px; }
.icao-ANA { background-position: -183px -483px; }
.icao-AFR { background-position: -213px -483px; }
.icao-SWR { background-position: -243px -483px; }
.icao-NEA { background-position: -273px -483px; }
.icao-POE { background-position: -303px -483px; }
.icao-RSY { background-position: -333px -483px; }
.icao-BEE { background-position: -363px -483px; }
.icao-WRF { background-position: -393px -483px; }
.icao-ERO { background-position: -423px -483px; }
.icao-IGO { background-position: -453px -483px; }
.icao-SER { background-position: -483px -483px; }
.icao-FXI { background-position: -513px -3px; }
.icao-URG { background-position: -513px -33px; }
.icao-JST { background-position: -513px -63px; }
.icao-JSA { background-position: -513px -93px; }
.icao-SPM { background-position: -513px -123px; }
.icao-BKP { background-position: -513px -153px; }
.icao-TVS { background-position: -513px -183px; }
.icao-BTI { background-position: -513px -213px; }
.icao-PAL { background-position: -513px -243px; }
.icao-RWZ { background-position: -513px -273px; }
.icao-GWI { background-position: -513px -303px; }
.icao-BER { background-position: -513px -333px; }
.icao-LDA { background-position: -513px -363px; }
.icao-TAY { background-position: -513px -393px; }
.icao-FPO { background-position: -513px -423px; }
.icao-AFG { background-position: -513px -453px; }
.icao-KOR { background-position: -513px -483px; }
.icao-KRP { background-position: -3px -513px; }
.icao-CPA { background-position: -33px -513px; }
.icao-AJX { background-position: -63px -513px; }
.icao-AFL { background-position: -93px -513px; }
.icao-PLR { background-position: -123px -513px; }
.icao-BRQ { background-position: -153px -513px; }
.icao-RAM { background-position: -183px -513px; }
.icao-KNE { background-position: -213px -513px; }
.icao-SLM { background-position: -243px -513px; }
.icao-AAH { background-position: -273px -513px; }
.icao-TOK { background-position: -303px -513px; }
.icao-ABY { background-position: -333px -513px; }
.icao-MAC { background-position: -363px -513px; }
.icao-ARA { background-position: -393px -513px; }
.icao-TWN { background-position: -423px -513px; }
.icao-JBA { background-position: -453px -513px; }
.icao-GJS { background-position: -483px -513px; }
.icao-FDX { background-position: -513px -513px; }
.icao-AHW { background-position: -543px -3px; }
.icao-AWU { background-position: -543px -33px; }
.icao-GIA { background-position: -543px -63px; }
.icao-HEJ { background-position: -543px -93px; }
.icao-LYC { background-position: -543px -123px; }
.icao-VBW { background-position: -543px -153px; }
.icao-FLI { background-position: -543px -183px; }
.icao-IBB { background-position: -543px -213px; }
.icao-SAS { background-position: -543px -243px; }
.icao-MAH { background-position: -543px -273px; }
.icao-NOS { background-position: -543px -303px; }
.icao-ANT { background-position: -543px -333px; }
.icao-BON { background-position: -543px -363px; }
.icao-AER { background-position: -543px -393px; }
.icao-ABR { background-position: -543px -423px; }
.icao-ABV { background-position: -543px -453px; }
.icao-NCA { background-position: -543px -483px; }
.icao-FFT { background-position: -543px -513px; }
.icao-MLA { background-position: -3px -543px; }
.icao-JBU { background-position: -33px -543px; }
.icao-CBG { background-position: -63px -543px; }
.icao-CFG { background-position: -93px -543px; }
.icao-DAT { background-position: -123px -543px; }
.icao-MLD { background-position: -153px -543px; }
.icao-BVT { background-position: -183px -543px; }
.icao-AVA { background-position: -213px -543px; }
.icao-LRC { background-position: -243px -543px; }
.icao-GLG { background-position: -273px -543px; }
.icao-TOM { background-position: -303px -543px; }
.icao-BLX { background-position: -333px -543px; }
.icao-TAR { background-position: -363px -543px; }
.icao-CXA { background-position: -393px -543px; }
.icao-SKU { background-position: -423px -543px; }
.icao-AVN { background-position: -453px -543px; }
.icao-AZW { background-position: -483px -543px; }
.icao-FIN { background-position: -513px -543px; }
.icao-TCV { background-position: -543px -543px; }
.icao-RPA { background-position: -573px -3px; }
.icao-PGA { background-position: -573px -33px; }
.icao-TMG { background-position: -573px -63px; }
.icao-HDA { background-position: -573px -93px; }
.icao-AUA { background-position: -573px -123px; }
.icao-TSO { background-position: -573px -153px; }
.icao-EJA { background-position: -573px -183px; }
.icao-AMB { background-position: -573px -213px; }
.icao-FDB { background-position: -573px -243px; }
.icao-IAW { background-position: -573px -273px; }
.icao-KAC { background-position: -573px -303px; }
.icao-GBA { background-position: -573px -333px; }
.icao-NAX { background-position: -573px -363px; }
.icao-SKW { background-position: -573px -393px; }
.icao-ISK { background-position: -573px -423px; }
.icao-AUR { background-position: -573px -453px; }
.icao-FLZ { background-position: -573px -483px; }
.icao-BRG { background-position: -573px -513px; }
.icao-CFE { background-position: -573px -543px; }
.icao-ELY { background-position: -3px -573px; }
.icao-VTA { background-position: -33px -573px; }
.icao-EZY { background-position: -63px -573px; }
.icao-CJT { background-position: -93px -573px; }
.icao-AZA { background-position: -123px -573px; }
.icao-BCY { background-position: -153px -573px; }
.icao-ESF { background-position: -183px -573px; }
.icao-ARG { background-position: -213px -573px; }
.icao-AHK { background-position: -243px -573px; }
.icao-BLF { background-position: -273px -573px; }
.icao-BAW { background-position: -303px -573px; }
.icao-TRS { background-position: -333px -573px; }
.icao-JOS { background-position: -363px -573px; }
.icao-WIF { background-position: -393px -573px; }
.icao-MAU { background-position: -423px -573px; }
.icao-MDF { background-position: -453px -573px; }
.icao-BPA { background-position: -483px -573px; }
.icao-DHX { background-position: -513px -573px; }
.icao-BCS { background-position: -543px -573px; }
.icao-NKS { background-position: -573px -573px; }
.icao-PUA { background-position: -603px -3px; }
.icao-MGX { background-position: -603px -33px; }
.icao-AWI { background-position: -603px -63px; }
.icao-QXE { background-position: -603px -93px; }
.icao-SKB { background-position: -603px -123px; }
.icao-ADR { background-position: -603px -153px; }
.icao-ASQ { background-position: -603px -183px; }
.regional { background-position: -573px -573px; }
.no-icon  { background-position: -603px -573px; }