.geofs-flightPlan {
    opacity: 0.7;
}

.geofs-ui-right .jobs-pad {
    user-select: none;
    -webkit-user-select: none;
    width: 50px;
    height: 80px;
    outline: none;
    text-orientation: upright;
    writing-mode: vertical-rl;
    letter-spacing: -2px;

    border: 1px solid #888;
    border-radius: 15px;
    background-color: #000;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
}
.jobs-pad .blue-pad {
    border-radius: 15px;
}

.geofs-ui-right .jobs-pad .control-pad-label {
    line-height: 50px;
}

.jobs-window {
    width: 400px;
    height: 600px;
    writing-mode: initial;
    letter-spacing: initial;
    border-radius: 20px;
    box-shadow: 0 0 5px #000;
    border: 1px solid #888;
    background-color: #000;
    color: white;
    position: absolute;
    z-index: 100;
    cursor: default;
    transition: left .2s ease-in-out;
    opacity: 0.8;
}
.jobs-window .mdl-tooltip {
    display: none;
}
.jobs-window .jobs-title {
    margin: 4px;
    text-align: center;
    font-size: 24px;
    background-color: grey;
    padding: 4px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    letter-spacing: -1px;
    overflow: hidden;
    height: 23px;
    cursor: move;
}

.jobs-window .jobs-header {
    background: #404040;
    margin: 0 4px 4px;
    padding: 10px;
    height: 70px;
    overflow: hidden;
}
.jobs-window .jobs-header p {
    margin: 0;
    font-size: 24px;
}

.jobs-window a {
    color: white;
    letter-spacing: -1px;
}
.jobs-window .jobs-header .metar {
    cursor: help;
}
.jobs-window .jobs-header small,
.jobs-window .jobs-header span {
    display: block;
    line-height: initial;
}
.jobs-window .jobs-footer {
    position: absolute;
    bottom: 0;
    margin: 0;
    line-height: 12px;
    font-size: 12px;
    text-align: center;
    width: 100%;
    color: #FFFFFF80;
    cursor: help;
}

.jobs-window .jobs-menu {
    background: #404040;
    margin: 0 4px;
}

.jobs-window .jobs-menu ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.jobs-window .jobs-menu ul li {
    padding: 8px 0;
    display: inline-block;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}

.jobs-window .jobs-menu ul li:hover {
    background-color: slategrey;
}
.jobs-window .jobs-menu ul li.active {
    background-color: #15628f;
}
.jobs-content {
    height: 410px;
    padding: 4px;
}

.flights-list .date-entry,
.flights-list .list-entry,
.jobs-window .page-flight input[type=text] {
    letter-spacing: 1px;
    font-family: 'LCD-Bold', monospace;
    text-shadow: 0px 0px 3px #888;
}

.page-flight .flight-controls input:active:hover,
.page-flight .flight-controls input:focus:hover,
.page-flight .flight-controls input:hover,
.jobs-content .page-jobs input:active:hover,
.jobs-content .page-jobs input:focus:hover,
.jobs-content .page-jobs input:hover {
    background-color: slategrey;
}

.jobs-content .page-jobs input:focus,
.jobs-content .page-jobs input:active,
.jobs-content .page-jobs input:focus:not(:active),
.jobs-content .page-jobs input {
    background-color: #404040;
    color: white;
    width: 80%;
    display: block;
    margin: 8px 10% 0;
    padding: 0;
}

.page-flight .flight-controls input:focus,
.page-flight .flight-controls input:active,
.page-flight .flight-controls input:focus:not(:active),
.page-flight .flight-controls input {
    background-color: #404040;
    color: white;
}

.page-flight li .tailno-input,
.page-flight li .flightno-input,
.page-flight li .origin-input,
.page-flight li .destination-input,
.page-flight li .sched-dep-input,
.page-flight li .sched-arr-input,
.page-flight li .delay-info,
.page-flight li .flighttime-info,
.page-flight li .traveled-info,
.page-flight li .departure-info,
.page-flight li .arrival-info,
.page-flight li .speed-info {
    color: silver;
}

.flights-list {
    overflow: hidden scroll;
    height: 100%;
}
.flights-list::-webkit-scrollbar-thumb:hover {
    background-color: slategray;
}

.flights-list::-webkit-scrollbar-thumb {
    background-color: #404040;
}
.flights-list::-webkit-scrollbar,
.flights-list::-webkit-scrollbar-track {
    background-color: #FFFFFF00;
}
.flights-list .list-header {
    line-height: 28px;
    position: fixed;
    width: 360px;
    background: #404040;
    padding: 0 7px 0 8px;
}
.flights-list .list-header span {
    display: inline-block;
    margin: 0;
    padding: 0
}
.flights-list ul {
    margin: 30px 0 0 0;
    padding: 0;
    line-height: 30px;
}
.flights-list ul li:nth-child(even) {
    background: #FFFFFF20;
}
.flights-list ul li:nth-child(odd) {
    background: #FFFFFF40;
}
.flights-list ul li.date-entry {
    background: none;
}
.flights-list .date-entry,
.flights-list .list-entry {
    list-style: none;
    font-size: 16px;
    padding: 0 4px;
}
.flights-list .list-entry div {
    display: inline-block;
}
.flights-list .list-entry div img {
    background-color: white;
    padding: 2px;
    margin: 0 4px 0 -2px;
}
.flights-list .list-header span:nth-child(1){
    width: 28%;
}
.flights-list .list-entry .flightno {
    width: 30%;
}
.flights-list .list-entry .dest:before {
    content: '✈︎';
    margin-right: 4px;
}
.flights-list .list-header span:nth-child(2),
.flights-list .list-entry .dest {
    width: 25%;
}
.flights-list .list-header span:nth-child(3),
.flights-list .list-entry .dist {
    width: 20%;
    text-align: right;
}
.flights-list .list-header span:nth-child(4),
.flights-list .list-entry .actions {
    width: 25%;
    text-align: right;
}
.flights-list .list-header span:nth-child(4) {
    width: 22%;
}

.flights-list .list-entry .actions button {
    cursor: pointer;
}

.flights-list .actions .mdl-button--icon {
    background: none;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    height: 24px
}
.flights-list .actions .mdl-button--icon .material-icons {
    position: initial;
    transform: initial;
    font-size: 24px;
}

.page-flight ul {
    padding: 0;
    margin: 0;
}

.page-flight li {
    margin: 0 0 3px;
    padding: 0;
    display: flex;
    gap: 3px;
}

.page-flight li div {
    display: inline-block;
    flex-basis: 20%;
    flex-grow: 1;
    padding: 0 4px;
    background-color: #ffffff40;
    font-size: 12px;
    border-radius: 4px;
}

.page-flight li div input {
    background: none;
    border: none;
    width: 100%;
    padding: 0;
    outline: none;
    font-size: 24px;
    color: white;
    margin-top: -4px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.page-flight li div input[type=time] {
    height: 28px;
}

.page-flight li div input[type=time]::-webkit-calendar-picker-indicator {
    display: none;
}

.page-flight li .delay-info,
.page-flight li .flighttime-info,
.page-flight li .traveled-info,
.page-flight li .departure-info,
.page-flight li .arrival-info,
.page-flight li .airline-info,
.page-flight li .destination-info,
.page-flight li .speed-info {
    background-color: #ffffff20;
}

.page-flight li .destination-info,
.page-flight li .airline-info {
    flex-basis: 45%;
    line-height: 20px;
    font-size: 20px;
    padding: 4px;
}
.page-flight li .destination-info {
    line-height: 14px;
    font-size: 14px;
    padding: 2px 4px;
    cursor: help;
}
.page-flight li .airline-info {
    text-align: right;
}

.page-flight li .destination-info small {
    line-height: 12px;
}
.page-flight li .airline-info img {
    width: 24px;
    float: right;
    background-color: white;
    padding: 2px;
    border: 1px solid grey;
    border-radius: 2px;
    margin: -4px -4px 0 4px;
}

.page-flight .flight-controls {
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.page-flight .flight-controls .mdl-button--raised {
    width: 194px;
}
.page-flight .flight-controls .mdl-button--raised[disabled][disabled] {
    background-color: #ffffff20;
    color: white;
}
.page-flight .flight-status {
    height: 30px;
    background: #FFFFFF20;
    text-align: center;
    display: block;
    font-size: 24px;
    position: relative;
    padding: 5px 0 0;
}

.jobs-window .page-config.geofs-list {
    background: none;
}
.jobs-window .page-config > div {
    font-weight: bold;
    font-size: 16px;
    padding: 4px 6px;
}
.jobs-window .page-config > div > div {
    font-weight: normal;
    font-size: initial;
    padding: 6px 0;
}
.jobs-window .page-config {
    color: lightgrey;
}
.jobs-window .page-config input {
    background: none;
    border: 1px solid grey;
    color: lightgrey;
    padding: 2px 4px;
    outline: none;
}
.jobs-window .page-config table,
.jobs-window .page-config label {
    display:block;
    padding: 2px 6px;
    font-size: 14px;
}
.jobs-window .page-config label input {
    float: right;
}
.jobs-window .page-config label input[type="range"] {
    height: 12px;
}
.jobs-window .page-config table.config-custom-routes input,
.jobs-window .page-config table.config-custom-airlines input {
    width: 100%;
}
.jobs-window .page-config table.config-custom-airlines td:nth-child(1) {
    width: 50px;
}
.jobs-window .page-config table.config-custom-airlines td:nth-child(2) {
    width: 50px;
}
.jobs-window .page-config table.config-custom-airlines td:nth-child(3) {

}
.jobs-window .page-config table.config-custom-airlines td:nth-child(4) {

}